.lyrics-textarea {
	line-height: 1.2;
	letter-spacing: 0.02em;
	font-family: Georgia, serif;
	white-space: pre-wrap;
	text-align: center;
	padding: 1.5rem;
}

.lyrics-textarea::-webkit-scrollbar {
	width: 8px;
}

.lyrics-textarea::-webkit-scrollbar-track {
	background: var(--chakra-colors-blue-50);
	border-radius: 4px;
}

.lyrics-textarea::-webkit-scrollbar-thumb {
	background: var(--chakra-colors-blue-200);
	border-radius: 4px;
}

.lyrics-textarea::-webkit-scrollbar-thumb:hover {
	background: var(--chakra-colors-blue-300);
}